.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Container h1{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    align-self: flex-start;
}
.courseList{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.CourseComponetLine{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    /* background-color: #e10b0b; */
}